name: Deploy to Surge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy to Surge
        run: surge ./ primerparcial-gabriel-read.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
